<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.TestNG_MVN_Cmd.Sample_TestNG_MVN_Cmd_Test"/>
      <class name="com.TestNG_MVN_Cmd.mavanCommandTest"/>
      <class name="com.TestNG_MVN_Cmd.mavanCommandThirdTest"/>
      <class name="com.TestNG_MVN_Cmd.mavanCommandSecTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
